header{
    /*background-color: aqua;*/
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.links-container{
    height: 36px;
    /*background-color: grey;*/
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}
.links-container a{
    text-shadow: 4px 4px 4px #000;
    padding: 8px 5px;
    transition: all 1s;
}
.links-container a:hover{
    /*color: lightslategrey;*/
    color: var(--accent-color);
}

@media (max-width: 950px){
    header{
        height: 70px;
    }
    .links-container{
        background-color: #000;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        font-size: 2.5rem;
        font-weight: 300;
        gap: 65px;
        transition: all 1s;
        transform: translate(100%);
        transition: all 1s;

    }
    .menu-burger-container.show ~ .links-container{
        transform: translate(0);
    }
}