main{
    flex-grow: 1;
    display: flex;
    font-family: 'Mulish', sans-serif;
}

.content-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.content-container h1{
    display: flex;
    flex-direction: column;
    font-size: 8rem;
    line-height: 4.5rem;
    color: #fff;
    font-weight: 400;
}

.content-container h1 span{
    font-size: 2.5rem;
    font-weight: 200;
}

.movie-title{
    font-size: 3rem;
    color: var(--accent-color);
    font-weight: 200;
    font-style: italic;
}

.movie-text{
    width: 600px;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 200;
}

.button{
    height: 80px;
    width: 300px;
    background-color: var(--accent-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: italic;
}

.social-container ul {
    height: 100%;
    width: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.social-container a:hover{
    background-color: var(--accent-color);
    /*border-color: var(--accent-color);*/
}

.social-container a{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all .7s;
}

.social-container i{
    font-size: 1.5rem;
}

@media (max-width:950px){
    .movie-text{
        display: none;
    }
    .social-container{
        display: none;
    }
    .content-container h1{
        font-size: 4rem;
        line-height: 2.5rem;
    }
    .content-container{
        gap: 50px;
        justify-content: flex-end;
        padding-bottom: 40px;
        align-items: center;
    }
    .movie-title{
        font-size: 1.5rem;
    }
}
