:root{
    --accent-color: #FF031A
}

body, html{
    position: relative;
    overflow: hidden;
}

body{
    height: 100vh;
    background: linear-gradient(90deg, #000, #000E 30%, #000A 50%, #0000), 
                url(../Img/background.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    padding: 0 128px;
}
@media (max-width: 950px){
    body{
    padding: 0 30px;
    background-color: #0009;
    background-image: url(../Img/background.png);
    background-blend-mode: darken;
    background-position: 90%;
    }
}